*{
    margin: 0%;
}
.header{
    background-color: red;
    height:200px;
    text-align: center;
}
.header h1{
    color:white;
}
.banner{
    background-color: turquoise;
    height: 150px;
    text-align: center;
}
.banner h1{
    color: white;
}
.left_item{
    background-color: violet;
    width: 50%;
    height: 250px;
    text-align: center;
    float: left;
}
.left_item h1{
    color: white;
}
.right_item{
    background-color: wheat;
    width: 50%;
    height: 250px;
    text-align: center;
    float: right;
}
.right_item h1{
    color: white;
}
.item{
    overflow: hidden;
}
.first_item{
    background-color: chocolate;
    width: 33.33%;
    height: 350px;
    text-align: center;
    float:left;
}
.first_item h1{
    color: white;
}
.second_item{
    background-color: darkviolet;
    width: 33.33%;
    height: 350px;
    text-align: center;
    float: left;
}
.second_item h1{
    color: white;
}
.third_item{
    background-color: dimgray;
    width: 33.33%;
    height: 350px;
    text-align: center;
    float: right;
}
.third_item h1{
    color: white;
}
.item2{
    overflow: hidden;
}
.footer{
    background-color: black;
    height: 150px
}
.footer h1{
    color: white;
    text-align: center;
}